body {
    background-color: #E2FBDF;
	max-width: 950px;
	margin-left:auto;
    margin-right:auto;
	font-family: Papyrus, fantasy;
}

header {
	width: 100%;
	height: 10%;
	background-color: #70D266;	
	font-size: 24px;
	color: #041202;
	float:left;
	text-align:center;
	
}

nav {
	width: 100%;
	height: 40px;
	background-color: #43993A;
	float:left
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CCC));/*Para chrome y Safari*/
    	background-image: -moz-linear-gradient(top center, #FFF, #CCC);/*Para Firefox*/
    	background-image: -o-linear-gradient(top, #FFF, #CCC);/*Para Opera*/
    	background-image: linear-gradient(top, #FFF, #CCC);/*El estandar por defecto*/
    	overflow:hidden;
    	padding:10px;
}

ul{
	margin: 0px;
	list-style:none;
}

.menu-item{ 
	display: inline;
	border-right: solid;
	border-color: #E2FBDF;
	color: black;
	width: 100px;
	height: 40px;
	float: left;
	text-align: center;
	font-size: 22px;
	cursor: pointer;
}

nav ul li a{
    color:#999;
    display:block;
    padding:10px;
    text-decoration:none;
    /*Transiciones*/
    -webkit-transition: 0.4s linear all;
    -moz-transition: 0.4s linear all;
    -o-transition: 0.4s linear all;
    transition: 0.4s linear all;
}

article{
	width: 65%;
	height: 60%;
	margin: 0px;
	float:left
}

section {
    	width: 100%;
	height: 60%;
	margin-left:5%;	
	float:left;
}

.welcome{
	font-size: 22px;
}

aside{
	float:left;
	width: 35%;

}

@media print {
    header,footer,nav {
        display: none;
    }
}

@media screen and (max-width: 240px)
{
	nav 
	{
		height:100%;
		width:100%;
	}
	
	header
	{
		height:100%;
		width:100%;
	}
	article
	{
		height:100%;
		width:100%;
	}	
	aside
	{
		height:100%;
		width:100%;
	}
	
	footer
	{
		height:100%;
		width:100%;
	}
}

@media screen and (max-width: 320px)
{
	nav 
	{
		height:100%;
		width:100%;
	}
	
	header
	{
		height:100%;
		width:100%;
	}
	article
	{
		height:100%;
		width:100%;
	}	
	section
	{
		height:100%;
		width:100%;
	}
	
	aside
	{
		height:100%;
		width:100%;
	}
	
	footer
	{
		height:100%;
		width:100%;
	}	
}

footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
