header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px; 
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
section {
    width:350px;
    float:left;
    padding:10px; 
}
@media print {
    header,footer,nav {
        display: none;
    }
}

@media screen and (max-width: 240px)
{
	nav 
	{
		height:100%;
		width:100%;
	}
	
	header
	{
		height:100%;
		width:100%;
	}
	article
	{
		height:100%;
		width:100%;
	}	
	aside
	{
		height:100%;
		width:100%;
	}
	
	footer
	{
		height:100%;
		width:100%;
	}
}

@media screen and (max-width: 320px)
{
	nav 
	{
		height:100%;
		width:100%;
	}
	
	header
	{
		height:100%;
		width:100%;
	}
	article
	{
		height:100%;
		width:100%;
	}	
	section
	{
		height:100%;
		width:100%;
	}
	
	aside
	{
		height:100%;
		width:100%;
	}
	
	footer
	{
		height:100%;
		width:100%;
	}	
}

footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
